body {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

span {
    background: hsl(47, 88%, 63%);
    font-weight: 700;
}

.qr-outter-box {
    background-color: #ffffff;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.08);
}

h2:hover {
    color: hsl(47, 88%, 63%);
}